.hero-boost {
    height: 70vh;
}

.name-bar {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#option-size {
    width: 30%;
    outline-color: #EF9614 !important;
}

#option-size:hover {
    outline-color: #EF9614 !important;
}

@media (max-width: 556px) {
    #option-size {
        width: 80%;
    }
}


/* ---------quiz.html-------- */

.quiz-header {
    background: #EF9614;
    margin-bottom: 20px;
    padding: 20px 10px 10px 20px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 11px 5px -11px rgba(0, 0, 0, 0.57);
}

.user-name {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.5rem;
    background: none;
    color: #EF9614;
}

.color-quiz {
    border-bottom: 2px solid #EF9614;
}

.color-missing {
    border-bottom: 2px solid red;
    transform: 0.5s;
}

.color-missing::placeholder {
    color: red;
}

#user-name:hover {
    outline: none;
}

.btn {
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#F27813, .15);
    background: #EF9614;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    color: beige;
    margin: 6px;
    cursor: pointer;
}

.hide {
    display: none;
}

.score {
    font-size: large;
    font-weight: bold;
}

#user-score {
    color: #EF9614;
}

#total-score {
    color: #F6490F
}


/* options in quiz game */

.options {
    list-style: none;
}

.options li {
    padding: 10px 0px 10px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    color: #000;
    border: 2px solid #EF9614;
    background: #fff;
}

.options li:hover {
    color: #fff;
    background: #EF9614;
}

.activequiz {
    color: #fff !important;
    background: #EF9614 !important;
}

#correctAnswer {
    color: green;
}

#WrongAnswer {
    color: red;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: rgb(219, 61, 61);
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 30px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}